body { color: #f73d3d ;
background-size:cover;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
overflow: hidden;}

ul {
    display: block;
    justify-content: space-between;
    list-style-type: none;
    text-align: right;
    transform:translateX(-15%) translateY(-150px);
}

a{  color: #389ff3;
    text-decoration: none;

}

audio{
    transform: scale(0.5);
    translate: 290% -135%;
    opacity: 15%;
}


img {width: 150px;
    height: 150px;
    border-radius: 50%;
    border: none
}   
    
#mostrar{
    display:none;
  }
  
#passar_mouse:hover #mostrar{
    display:grid;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    text-decoration:transparent;
    transform: translateX(28px);
  }

#alinhamento-img{
    transform: translateX(18%) translateY(70px);
}

h1 {color: #1dbac5;
    text-align-last: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

h2{
    color:#8c65f7;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:xx-large;
    transform: translateX(12.5%) translateY(60px);

}

h3 {
    color:#ffffff;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transform: translateY(-90%) translateX(12.6%);
    text-decoration:wavy;
    
}

.card {
    width: 159px;
    height: 157px;
    background-image: linear-gradient(163deg, rgb(9, 226, 241) 0%, rgb(201, 26, 201) 100%);
    border-radius: 70%;
    transition: all .3s;
    transform:translateX(2);
   }
   
.card2 {
    width: 155px;
    height: 152px;
    background-color: #1a1a1a;
    border-radius: 82%;
    transition: all .2s;
    transform: translateY(3px);
   }
   
.card2:hover {
    transform: scale(1.1);
    border-radius: 50px;
    border-bottom-right-radius: 59px;
    border-bottom-left-radius: 59px;
    box-shadow: 0px 10px 50px 5px hsla(214, 92%, 45%, 0.616);
   }
   
.card:hover {
    width: 156px;
    height: 156px;
    float: top;
    transform: scale(1.2);
   }

.button {
    transform:scale(100%);
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #2c9caf;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #052e53;
    background-color:#121721;
  }
  
button:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid #0e7a8d;
    box-shadow: 4px 5px 17px -4px #268391;
  }
  
button::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #75829E;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;}
  
button:hover::before {
    width: 250%;
}